@use '../assets/styles/abstracts' as *;
@use '../assets/styles/base/' as *;

:host {
  display: contents;
}

.cart-wrapper {
  background-color: $clr-white;
  padding: $spacing-300;
  border-radius: 12px;
  grid-row: 3 / 4;
  display: grid;
  grid-gap: $spacing-300;

  @media (width >= 600px) {
    grid-column: 1 / -1;
  }

  @media (width >= 1024px) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    block-size: fit-content;
  }
}

.cart-title {
  font-family: 'Red Hat Bold';
  color: $clr-primary-red;
  margin-block-start: 0;
}

.empty-cart-img {
  margin: 0 auto $spacing-200 auto;
}

.cart-info {
  font-family: 'Red Hat Semibold';
  color: $clr-rose-500;
  text-align: center;
  margin-block-end: $spacing-200;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-divider {
  display: block;
  margin-block: $spacing-200;
  color: $clr-rose-100;
  block-size: 1px;

  &:last-of-type {
    margin-block-end: 0;
  }
}

.order-item-name {
  font-weight: 600;
  margin-block-end: $spacing-100;
  color: $clr-rose-900;
}

.order-item-quantity {
  font-weight: 600;
  color: $clr-primary-red;
  margin-inline-end: $spacing-100;
}

.order-item-overall-price,
.order-item-price {
  color: $clr-rose-500;
}

.order-item-price {
  margin-inline-end: $spacing-100;
}

.order-item-overall-price {
  font-weight: 600;
}

.remove-from-cart-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100vw;
  border: 2px solid $clr-rose-400;
  background-color: transparent;
  padding: 0;
  text-align: center;

  &:hover,
  &:focus-visible {
    border-color: $clr-rose-900;
    cursor: pointer;
  }
}

.remove-from-cart-button:hover .remove-from-cart-image {
  filter: brightness(1%);
}

.order-total {
  color: $clr-rose-900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carbon-neutral {
  background-color: $clr-rose-50;
  color: $clr-rose-900;
  display: flex;
  justify-content: center;
  column-gap: $spacing-100;
  border-radius: 8px;
  padding-block: $spacing-200;
}

.confirm-order {
  display: block;
  width: 100%;
  background-color: $clr-primary-red;
  color: $clr-white;
  padding-block: $spacing-200;
  border-radius: 100vw;
  border: transparent;
  position: relative;

  &:hover {
    cursor: pointer;

    &::before {
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 100vw;
    }
  }
}

.confirm-order::before {
  content: 'Confirm Order';
  position: absolute;
  inset: 0;
  color: $clr-white;
  align-content: center;
}

.order-overall-price {
  font-family: 'Red Hat Bold';
  color: $clr-rose-900;
}

.cart-item-length {
  width: fit-content;
  position: absolute;
  margin-inline-start: 8px;
}
