html {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  min-block-size: 100vh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  padding: 0;
}

button img {
  margin: 0 auto;
}

@font-face {
  font-family: "Red Hat Regular";
  src: url("../../fonts/static/RedHatText-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Semibold";
  src: url("../../fonts/static/RedHatText-SemiBold.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Bold";
  src: url("../../fonts/static/RedHatText-Bold.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
.text-extra-large {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
}

.text-large {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 900;
}

.text-medium {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.text-short-regular {
  font-size: 14px;
  line-height: 1.5;
}

.text-short-semibold {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}

:host {
  display: contents;
}

.cart-wrapper {
  background-color: rgb(255, 255, 255);
  padding: 24px;
  border-radius: 12px;
  grid-row: 3/4;
  display: grid;
  grid-gap: 24px;
}
@media (width >= 600px) {
  .cart-wrapper {
    grid-column: 1/-1;
  }
}
@media (width >= 1024px) {
  .cart-wrapper {
    grid-column: 2/3;
    grid-row: 1/3;
    block-size: -moz-fit-content;
    block-size: fit-content;
  }
}

.cart-title {
  font-family: "Red Hat Bold";
  color: rgb(199, 59, 15);
  margin-block-start: 0;
}

.empty-cart-img {
  margin: 0 auto 16px auto;
}

.cart-info {
  font-family: "Red Hat Semibold";
  color: rgb(135, 99, 90);
  text-align: center;
  margin-block-end: 16px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-divider {
  display: block;
  margin-block: 16px;
  color: rgb(245, 238, 236);
  block-size: 1px;
}
.horizontal-divider:last-of-type {
  margin-block-end: 0;
}

.order-item-name {
  font-weight: 600;
  margin-block-end: 8px;
  color: rgb(38, 15, 8);
}

.order-item-quantity {
  font-weight: 600;
  color: rgb(199, 59, 15);
  margin-inline-end: 8px;
}

.order-item-overall-price,
.order-item-price {
  color: rgb(135, 99, 90);
}

.order-item-price {
  margin-inline-end: 8px;
}

.order-item-overall-price {
  font-weight: 600;
}

.remove-from-cart-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100vw;
  border: 2px solid rgb(173, 138, 133);
  background-color: transparent;
  padding: 0;
  text-align: center;
}
.remove-from-cart-button:hover, .remove-from-cart-button:focus-visible {
  border-color: rgb(38, 15, 8);
  cursor: pointer;
}

.remove-from-cart-button:hover .remove-from-cart-image {
  filter: brightness(1%);
}

.order-total {
  color: rgb(38, 15, 8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carbon-neutral {
  background-color: rgb(252, 248, 246);
  color: rgb(38, 15, 8);
  display: flex;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border-radius: 8px;
  padding-block: 16px;
}

.confirm-order {
  display: block;
  width: 100%;
  background-color: rgb(199, 59, 15);
  color: rgb(255, 255, 255);
  padding-block: 16px;
  border-radius: 100vw;
  border: transparent;
  position: relative;
}
.confirm-order:hover {
  cursor: pointer;
}
.confirm-order:hover::before {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 100vw;
}

.confirm-order::before {
  content: "Confirm Order";
  position: absolute;
  inset: 0;
  color: rgb(255, 255, 255);
  align-content: center;
}

.order-overall-price {
  font-family: "Red Hat Bold";
  color: rgb(38, 15, 8);
}

.cart-item-length {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  margin-inline-start: 8px;
}