@use '../assets/styles/abstracts/' as *;
@use '../assets/styles/base/' as *;

:host {
  display: contents;
}

.picture {
  overflow: hidden;
}

.recipe-image {
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
}

.recipe-category {
  color: $clr-rose-500;
}

.recipe-name,
.recipe-price {
  font-family: 'Red Hat Semibold';
}

.recipe-name {
  color: $clr-rose-900;
}

.recipe-price {
  color: $clr-primary-red;
}

.add-to-cart-button {
  font-family: 'Red Hat Semibold' !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  border: 1px solid $clr-rose-400;
  background-color: $clr-white;
  border-radius: 100vw;
  padding: $spacing-150;
  font: inherit;
  display: block;
  margin: 0 auto;
  transform: translateY(-50%);
  inline-size: 160px;

  &:hover,
  &:focus-visible {
    cursor: pointer;
    color: $clr-primary-red;
    border-color: $clr-primary-red;
  }
}

.add-to-cart-icon {
  display: inline-block;
  margin-inline-end: $spacing-100;
  vertical-align: bottom;
}

.highlight {
  border: 2px solid $clr-primary-red;
  border-radius: 8px;
}

.quantity-handler {
  font-family: 'Red Hat Semibold' !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  margin: 0 auto;
  transform: translateY(-50%);
  inline-size: 160px;
  text-align: center;
  background-color: $clr-primary-red;
  color: $clr-white;
  border-radius: 100vw;
  padding: $spacing-150;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-btn {
  background-color: transparent;
  border-radius: 100vw;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid $clr-white;

  &:hover,
  &:focus-visible {
    cursor: pointer;
    background-color: $clr-white;
  }
}

.quantity-btn:hover .quantity-btn-image,
.quantity-btn:focus-visible .quantity-btn-image {
  filter: brightness(0) saturate(100%) invert(29%) sepia(23%) saturate(4895%) hue-rotate(351deg)
    brightness(98%) contrast(101%);
}

picture:not(.highlight) .recipe-image:hover {
  scale: 1.05;
}
