html {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  min-block-size: 100vh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  padding: 0;
}

button img {
  margin: 0 auto;
}

@font-face {
  font-family: "Red Hat Regular";
  src: url("../../fonts/static/RedHatText-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Semibold";
  src: url("../../fonts/static/RedHatText-SemiBold.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Bold";
  src: url("../../fonts/static/RedHatText-Bold.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
.text-extra-large {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
}

.text-large {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 900;
}

.text-medium {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.text-short-regular {
  font-size: 14px;
  line-height: 1.5;
}

.text-short-semibold {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}

:host {
  display: contents;
}

.picture {
  overflow: hidden;
}

.recipe-image {
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
}

.recipe-category {
  color: rgb(135, 99, 90);
}

.recipe-name,
.recipe-price {
  font-family: "Red Hat Semibold";
}

.recipe-name {
  color: rgb(38, 15, 8);
}

.recipe-price {
  color: rgb(199, 59, 15);
}

.add-to-cart-button {
  font-family: "Red Hat Semibold" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  border: 1px solid rgb(173, 138, 133);
  background-color: rgb(255, 255, 255);
  border-radius: 100vw;
  padding: 12px;
  font: inherit;
  display: block;
  margin: 0 auto;
  transform: translateY(-50%);
  inline-size: 160px;
}
.add-to-cart-button:hover, .add-to-cart-button:focus-visible {
  cursor: pointer;
  color: rgb(199, 59, 15);
  border-color: rgb(199, 59, 15);
}

.add-to-cart-icon {
  display: inline-block;
  margin-inline-end: 8px;
  vertical-align: bottom;
}

.highlight {
  border: 2px solid rgb(199, 59, 15);
  border-radius: 8px;
}

.quantity-handler {
  font-family: "Red Hat Semibold" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  margin: 0 auto;
  transform: translateY(-50%);
  inline-size: 160px;
  text-align: center;
  background-color: rgb(199, 59, 15);
  color: rgb(255, 255, 255);
  border-radius: 100vw;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-btn {
  background-color: transparent;
  border-radius: 100vw;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(255, 255, 255);
}
.quantity-btn:hover, .quantity-btn:focus-visible {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.quantity-btn:hover .quantity-btn-image,
.quantity-btn:focus-visible .quantity-btn-image {
  filter: brightness(0) saturate(100%) invert(29%) sepia(23%) saturate(4895%) hue-rotate(351deg) brightness(98%) contrast(101%);
}

picture:not(.highlight) .recipe-image:hover {
  scale: 1.05;
}