html {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  min-block-size: 100vh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  padding: 0;
}

button img {
  margin: 0 auto;
}
