@use '../assets/styles/abstracts/' as *;

:host {
  display: contents;
}

.recipes-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $spacing-300;

  @media (width >= 600px) {
    grid-template-columns: subgrid;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    column-gap: $spacing-300;
    row-gap: $spacing-400;
  }

  @media (width >= 1024px) {
    grid-column: 1 / 2;
    grid-template-columns: repeat(3, 1fr);
  }
}
