/* You can add global styles to this file, and also import other style files */
@use 'abstracts' as *;
@use 'base' as *;

body {
  margin: 0;
  background-color: $clr-rose-50;
  font-family: 'Red Hat Regular';
}
